<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let field of formFields">
    <label>{{ field.label }}</label>
    <input [type]="field.type" [formControlName]="field.label">
    <!-- You can add more input types and customizations as needed -->
  </div>
  <button type="submit">Submit</button>
  <button (click)="addTextField()">Add Text Field</button>
  <button (click)="addRadioField()">Add Radio Field</button>
  <button (click)="addCheckboxField()">Add Checkbox Field</button>
  <button (click)="addDateField()">Add Date Field</button>




</form>
